.about-section {
  max-width: 80%;
  margin: 0 auto;
  flex-wrap: row wrap;
  align-items: center;
  display: flex;
  .about-photo {
    padding-left: 20px;
  }
  img {
    border: 3px double $pink;
  }
}

@media(max-width: 1175px) {
  .about-section {
    display: block;
    .about-photo {
      width: 100%;
      display: inline-block;
      margin: auto;
      padding: 0px;
    }
  }
}
@media(max-width: 1024px) {
  .about-section {
    .about-photo {
      img {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  .wrapper .about-section{
    max-width: 100%;
    display: block;
  }
}