footer {
  background-color: black;
  padding: 40px 0px;
  .wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .footer-wrap {
    display: flex;
  }
  span {
    padding-left: 20px;
  }
  p {
    display: flex;
    justify-content: center;
    letter-spacing: 0.1rem;
    padding: 5px;
    svg {
      height: 25px;
      width: 25px;
    }
  }
  p a {
    margin: 0px;
  }
}
@media (max-width: 1000px) {
  footer {
    .wrapper {
      display: block;
      margin: 0 auto;
    }
    .footer-line {
      display: none;
    }
    .footer-wrap {
      justify-content: center;
    }
  }
}
@media (max-width: 660px) {
  footer {
    span {
      display: none;
    }
    .footer-wrap {
      display: block;
    }
  }
}

