.contact-section {
  text-align: left;
  margin: 0 auto;
  background-image: linear-gradient(90deg, $accent 50%, rgba(219, 205, 197, 0.6) 50%);
  .contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 20px;
    form {
      flex: 1 0 500px;
      input,
      textarea {
        max-width: 400px;
        padding: 10px;
        background-color: $accent;
        border: 3px solid transparent;
        border-bottom: 1px solid $fontGrey;
        margin: 10px;
        transition: all 0.5s ease-in-out;
      }
      input {
        max-width: 400px;
        &::placeholder {
          color: $fontGrey;
          @include fontSize(13);
        }
      }
      textarea {
        max-width: 100%;
        &::placeholder {
          color: $fontGrey;
          @include fontSize(13);
        }
      }
      textarea:hover,
      input:hover {
        border: 3px solid $pink;
        border-bottom: 1px solid $fontGrey;
        background-color: darken($accent, 5%);
      }
      .form-submit {
        display: block;
        .thanks {
          display: none;
        }
        button {
          border: 1px solid transparent;
          background-color: $accent;
          margin: 0px 0px 75px 10px;
          text-transform: uppercase;
          transition: all 0.5s;
          padding: 0px;
          & {
            border-top: 3px double $pink;
            padding-top: 10px;
            transition: all 0.5s;
          }
          & {
            border-bottom: 3px double $pink;
            padding-bottom: 10px;
            transition: all 0.5s;
          }
          &::before,
          &::after {
            content: "";
            display: block;
          }
        }
        button:hover {
          color: $pop;
          transform: scale(1.03);
        }
        .form-submit:hover {
          background-color: $pop;
        }
      }
    }
    .contact-info {
      padding-bottom: 50px;
      flex: 1 1 200px;
      p a {
        text-transform: none;
      }
      p {
        margin-top: 3px;
      }
      .social-space {
        padding-bottom: 6px;
      }
      a {
        padding-right: 15px;
        transition: all 0.5s;
      }
      a:hover {
        color: $pop;
        transition: all 0.5s;
         i {
          transform: scale(1.03);
         }
      }
    }
  }
  .back-to-top {
    text-align: center;
    i {
      @include fontSize(30);
    }
    i:hover {
      color: $pop;
      animation: MoveUpDown 1s linear infinite;
      position: relative;
      left: 0;
      bottom: 0;
      text-align: center;
    }
    @keyframes MoveUpDown {
      50%, 100% {
        bottom: 0;
      }
      50%, 50% {
        bottom: 15px;
      }
    }
  }
}
@media (max-width: 880px) {
  .contact-section {
    .contact {
      form {
        flex: 1 0 300px;
        .form-submit button {
          margin-bottom: 56px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .contact-section {
    background-image: linear-gradient(180deg, $accent 60%, rgba(219, 205, 197, 0.6) 50%);
    .contact {
      display: block;
      .contact-info {
        padding-bottom: 5px;
      }
    }
  }  
}

@media (max-width: 550px) {
  .contact-section {
    .contact {
      form {
        textarea,
        input {
          border: 3px solid $pink;
          border-bottom: 1px solid $fontGrey;
          background-color: darken($accent, 5%);
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .contact-section {
    background-image: linear-gradient(180deg, $accent 65%, rgba(219, 205, 197, 0.6) 35%);
  }
}