// accesibility
.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}
a.skip:active, 
a.skip:focus, 
a.skip:hover {
  left: 0; 
  top: 0;
  width: auto; 
  height: auto; 
  overflow: visible; 
  color: white;
}
.header-content {
  background-image: url(../assets/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  .main-navigation {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    .toggle {
      display: none;
      color: $pink;
      @include fontSize(20);
    }
    .header-icons a {
      padding: 20px;
    }
    .fa-linkedin-in {
      padding-right: 20px;
    }
    .header-icons a:hover {
      border-top: 3px double $pink;
    }
    ul {
      display: flex;
      padding: 0px;
    }
    li {
      list-style-type: none;
      padding: 20px;
      transition: 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      border-top: 3px double transparent;
      letter-spacing: 0.4rem;
    }
    li:hover {
      border-top: 3px double $pink;
    }
  }
  
  .header-title {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-attachment: fixed;
    svg {
      left: 33px;
      width: 347px;
      height: 348px;
      position: fixed;
      z-index: -10;
      top: 95px;
    }
    #M {
      animation: changeLogoColor 3s 1;
      transition: all 1s linear; 
    }
  }
}
@keyframes changeLogoColor {
  0% {
    fill: black;
  }
  50% {
    fill: $pink;
  }
}

@media (max-width: 1024px) {
  .header-content {
    .main-links {
      .hamburger {
        display: none;
      }
      .active {
        display: block;
        position: absolute;
        right: 20px;
        top: 70px;
        z-index: 100;
        text-align: center;
        background-color: rgba(0,0,0, 0.8);
        transition: all 3ms ease-in-out;
      }
    }
    .main-navigation {
      li {
        padding: 44px 100px;
        animation: Open 500ms ease-in-out;
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            animation-name: Open;
            animation-duration: 200ms * $i;
            animation-timing-function: ease-in-out; 
          }
        }
      }
      @keyframes Open {
        0% {
          opacity: 0;
          transform: scale(0.3) translateY(-60px)
        }
        30% {
          opacity: 30;
          transform: scale(0.5) translateY(60px)
        }
        100% {
          opacity: 100;
          transform: scale(1) translateY(0px)
        }
      }
      .toggle {
        display: block;
        color: $pink;
        position: absolute;
        top: 6%;
        right: 3%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 20px;
        cursor: pointer;
      }
      .toggle.active {
        right: 5.6%;
      }
      .menu {
        width: 40px;
        height: 4px;
        position: absolute;
        top: 5%;
        right: 5%;
        background: $pink;
        transform: translate(-50%, -50%);
        box-shadow: 0px 2px 5px rgba(219, 205, 197, 0.3);
        transition: 0.2s;
      }
      .menu:after,
      .menu:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 4px;
        background: $pink;
        box-shadow: 0px 2px 5px rgba(219, 205, 197, 0.3);
        transition: 0.2s;
      }
      .menu:before {
        top: -16px;
      }
      .menu:after {
        top: 16px;
      }
      .toggle.active .menu {
        background: black;
        box-shadow: 0px 2px 5px rgba(0,0,0,0);
      } 
      .toggle.active .menu:before {
        transform: rotate(45deg);
        top: 0;
      }
      .toggle.active .menu:after {
        transform: rotate(135deg);
        top: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .header-content {
    .main-navigation {
      li {
        padding: 35px 100px;
        a {
          padding: 5px 10px;
          // margin: 20px;
        }
      }
      .toggle.active {
          right: 6.6%;
        }
        .toggle {
          top: 9%;
          right: 0%;
        }
      }
    .header-title {
      svg {
        left: 5px;
        width: 289px;
        height: 289px;
      }
    }
  }
}
@media (max-width: 500px) {
  .header-content {
    .main-navigation {
      li {
        padding: 40px 80px;
      }
    }
  }
}

