.skills-position {
  position: relative;
  z-index: 100;
}
.skills-color {
    background-color: $pink;
    h4 {
      padding-top: 35px;
    }
    ul {
      margin: 20px 0px 0px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0px 0px 25px 0px;
      svg {
        width: 40px;
        height: 40px;
      }
      li {
        list-style-type: none;
        text-align: center;
        width: 100px;
        transition: all 0.5s;
        height: 60px;
      &:hover p {
        display: block;
        color: $fontGrey;    
        transition: all 1s;    
      }
      &:hover i,
      &:hover svg {
        fill: white;
        color: white;
        transform: scale(1.1);
        transition: all 0.5s;    
      }
      i {
        @include fontSize(40);
      }
      p {
        display: none;
        margin: 0px;
        padding-top: 5px;
      }
    }
  }
  .dev-top {
    padding-top: 40px;
  }
  .dev-bottom {
    padding-bottom: 60px;
  }
}

@media(max-width: 480px) {
  .skills-color ul {
    li:hover p {
      display: none;
    }
    li:hover i,
    li:hover svg {
      fill: black;
      color: black;
      transform: none;
    }
  }
}