.project {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  .project-bio {
    width: 80%;
    align-content: flex-end;
    height: 100%;
    p {
      padding-bottom: 15px;
    }
    img {
      max-width: 90%;
      border: 2px double $pink;
      margin-left: 15px;
    }
    .project-img {
      max-width: 350px;
      display: flex;
      align-content: flex-start;
      justify-content: flex-start;
    }
    .project-links {
      text-align: center;
      display: flex;
      justify-content: flex-start;
      .hover {
        transition: all 0.5s;
      }
      .space {
        padding-right: 15px;
      }
      a {
        transition: all 0.5s;
        & {
          border-top: 3px double $pink;
          padding-top: 10px;
          transition: all 0.5s;
        }
        & {
          border-bottom: 3px double $pink;
          padding-bottom: 10px;
          transition: all 0.5s;
        }
      }
      a:hover {
        color: $pop;
        transform: scale(1.03);   
      }
      .hover:hover {
        color: $pop;
        transform: scale(1.03);
      }
    }
  }
}

@media(max-width: 768px) {
  .project {
    width: 100%;
    display: block;
    .project-bio {
      margin: 0 auto;
      max-width: 100%;
      padding-top: 35px;
      p {
        padding-bottom: 15px;
      }
      img {
        padding: 0px;
        margin: 0px;
        display: block;
      }
      .project-links {
        padding: 0px;
        a {
          margin-left: 0px;
        }
        .space {
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .wrapper .project {
    .project-bio {
      width: 100%;
      display: block;
    }
  }
}

@media (max-width: 350px) {
  .project {
    .project-bio {
      .project-links {
        display: block;

      }
    }
  }
}