article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #f7f7f7; }
  body .skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden; }
  body a.skip:active,
  body a.skip:focus,
  body a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible; }
  body .wrapper {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto; }
  body h1,
  body h2,
  body a {
    color: #dbcdc5; }
  body h1 {
    font-size: 70px;
    font-size: 7rem;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4rem;
    margin: 0px; }
  body .strong {
    letter-spacing: 1.3rem; }
  body h2 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 1.2rem;
    text-align: left;
    margin: 0px; }
  body h3 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin: 5px; }
  body h3::before {
    border-top: 3px double #dbcdc5;
    width: 200px;
    height: 3px;
    content: "";
    display: block;
    padding-bottom: 10px;
    position: relative;
    left: -3%; }
  body h4 {
    color: #333333;
    font-family: 'Merriweather', serif;
    font-style: italic;
    letter-spacing: 0.1rem;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 0px;
    margin-top: 70px; }
  body h5 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 17px;
    font-size: 1.7rem;
    margin: 0px;
    line-height: 1.7; }
  body h6 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-size: 2.5rem;
    text-align: right;
    margin: 30px 0px 20px 0px; }
  body h6:before {
    border-top: 3px double #dbcdc5;
    width: 200px;
    padding-bottom: 5px;
    height: 3px;
    content: "";
    display: block;
    position: relative;
    left: 60%; }
  body p,
  body a,
  body .fa {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2; }
  body a {
    text-decoration: none;
    text-transform: uppercase; }
  body main p,
  body main a {
    color: #777777; }
  body footer p,
  body footer a {
    font-size: 12px;
    font-size: 1.2rem;
    margin: 3px;
    color: #dbcdc5;
    text-transform: none; }

@media (max-width: 1400px) {
  body .wrapper {
    max-width: 85%; } }

.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden; }

a.skip:active,
a.skip:focus,
a.skip:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  color: white; }

.header-content {
  background-image: url(../assets/hero.jpeg);
  height: 100vh;
  background-position: fill;
  background-repeat: repeat; }
  .header-content .main-navigation {
    max-width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-content .main-navigation .toggle {
      display: none;
      color: #dbcdc5;
      font-size: 20px;
      font-size: 2rem; }
    .header-content .main-navigation .header-icons a {
      padding: 20px; }
    .header-content .main-navigation .fa-linkedin-in {
      padding-right: 20px; }
    .header-content .main-navigation .header-icons a:hover {
      border-top: 3px double #dbcdc5; }
    .header-content .main-navigation ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0px; }
    .header-content .main-navigation li {
      list-style-type: none;
      padding: 20px;
      -webkit-transition: 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      transition: 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      border-top: 3px double transparent;
      letter-spacing: 0.4rem; }
    .header-content .main-navigation li:hover {
      border-top: 3px double #dbcdc5; }
  .header-content .header-title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%; }
    .header-content .header-title svg {
      width: 350px;
      height: 350px;
      overflow: hidden;
      position: fixed;
      z-index: -10;
      top: 100px;
      left: 33px; }

@media (max-width: 1024px) {
  .header-content .main-links .hamburger {
    display: none; }
  .header-content .main-links .active {
    display: block;
    position: absolute;
    right: 50px;
    text-align: center; }
  .header-content .main-navigation .toggle {
    display: block;
    color: #dbcdc5; } }

.contact-section {
  text-align: left;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #f7f7f7), color-stop(50%, rgba(219, 205, 197, 0.6)));
  background-image: linear-gradient(90deg, #f7f7f7 50%, rgba(219, 205, 197, 0.6) 50%); }
  .contact-section .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px; }
    .contact-section .contact form {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 500px;
              flex: 1 0 500px; }
      .contact-section .contact form input,
      .contact-section .contact form textarea {
        max-width: 400px;
        padding: 10px;
        background-color: #f7f7f7;
        border: 3px solid transparent;
        border-bottom: 1px solid #777777;
        margin: 10px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .contact-section .contact form input {
        max-width: 400px; }
        .contact-section .contact form input::-webkit-input-placeholder {
          color: #777777;
          font-size: 8px;
          font-size: 0.8rem; }
        .contact-section .contact form input:-ms-input-placeholder {
          color: #777777;
          font-size: 8px;
          font-size: 0.8rem; }
        .contact-section .contact form input::-ms-input-placeholder {
          color: #777777;
          font-size: 8px;
          font-size: 0.8rem; }
        .contact-section .contact form input::placeholder {
          color: #777777;
          font-size: 8px;
          font-size: 0.8rem; }
      .contact-section .contact form textarea {
        max-width: 100%; }
        .contact-section .contact form textarea::-webkit-input-placeholder {
          color: #777777;
          font-size: 8px;
          font-size: 0.8rem; }
        .contact-section .contact form textarea:-ms-input-placeholder {
          color: #777777;
          font-size: 8px;
          font-size: 0.8rem; }
        .contact-section .contact form textarea::-ms-input-placeholder {
          color: #777777;
          font-size: 8px;
          font-size: 0.8rem; }
        .contact-section .contact form textarea::placeholder {
          color: #777777;
          font-size: 8px;
          font-size: 0.8rem; }
      .contact-section .contact form textarea:hover,
      .contact-section .contact form input:hover {
        border: 3px solid #dbcdc5;
        border-bottom: 1px solid #777777;
        background-color: #eaeaea; }
      .contact-section .contact form .form-submit {
        display: block; }
        .contact-section .contact form .form-submit button {
          border: 1px solid transparent;
          background-color: #f7f7f7;
          margin-bottom: 75px;
          text-transform: uppercase; }
          .contact-section .contact form .form-submit button::before, .contact-section .contact form .form-submit button::after {
            content: "";
            display: block;
            padding: 10px; }
          .contact-section .contact form .form-submit button::before {
            border-top: 3px double #dbcdc5; }
          .contact-section .contact form .form-submit button::after {
            border-bottom: 3px double #dbcdc5; }
        .contact-section .contact form .form-submit .form-submit:hover {
          background-color: #dbcdc5; }
    .contact-section .contact .contact-info {
      padding-bottom: 50px;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 200px;
              flex: 1 1 200px; }
      .contact-section .contact .contact-info a {
        padding-right: 15px; }

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  -ms-flex-wrap: row wrap;
      flex-wrap: row wrap; }

footer {
  background-image: url(../assets/hero.jpeg);
  padding: 40px; }
  footer p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 0.1rem;
    padding: 5px; }
    footer p svg {
      height: 25px;
      width: 25px; }
  footer p a {
    margin: 0px; }

.skills-color {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f7f7f7), color-stop(50%, rgba(219, 205, 197, 0.6)));
  background-image: linear-gradient(180deg, #f7f7f7 50%, rgba(219, 205, 197, 0.6) 50%); }
  .skills-color i {
    font-size: 40px;
    font-size: 4rem; }
  .skills-color ul {
    margin: 40px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px; }
    .skills-color ul svg {
      width: 40px;
      height: 40px; }
    .skills-color ul li {
      list-style-type: none;
      text-align: center;
      width: 100px; }
  .skills-color .dev-top {
    padding-top: 30px; }
  .skills-color .dev-bottom {
    padding-bottom: 40px; }

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row wrap;
      flex-wrap: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px; }
  .project .project-bio {
    width: 80%;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    height: 100%; }
    .project .project-bio img {
      max-width: 90%;
      padding-left: 20px; }
    .project .project-bio .project-img {
      max-width: 350px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: start;
          align-content: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .project .project-bio .project-links {
      text-align: center;
      padding: 5px; }
      .project .project-bio .project-links a {
        padding: 10px; }
